::ng-deep .cdk-overlay-container {
  z-index: 1200 !important;
}

.searchInput {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #a0d18c;
  width: 350px;
  height: 35px;
  padding-left: 10px;
  margin-top: 3px;
}

.searchInput:focus {
  outline: none;
  border: 1px solid #a0d18c;
  color: #2d9fd9;
}
.align-items-center {
  display: flex;
  align-items: center;  /*Aligns vertically center */
  justify-content: center; /*Aligns horizontally center */
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.showInfo {
  text-align: right;
}

.border-0 {
  outline: none;
}

.custom-modal {
  max-width: 50% !important;
}

img {
  max-width: 180px;
}
